ODE_Test/bpelContent/transaction5.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  targetNamespace="http://transaction5.bpel.ws.trix.com"
  xmlns:apachesoap="http://xml.apache.org/xml-soap"
  xmlns:impl="http://transaction5.bpel.ws.trix.com"
  xmlns:intf="http://transaction5.bpel.ws.trix.com"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
  >
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://transaction5.bpel.ws.trix.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="endMethod" type="xsd:string"/>
   <element name="valuesString" type="xsd:string"/>
   <element name="updateDbReturn" type="xsd:string"/>
   <complexType name="StringException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault" type="impl:StringException"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateDbRequest">
      <wsdl:part element="impl:valuesString" name="valuesString"/>
   </wsdl:message>
   <wsdl:message name="updateDbResponse">
      <wsdl:part element="impl:updateDbReturn" name="updateDbReturn"/>
   </wsdl:message>
   <wsdl:message name="commitTransactionResponse"/>
   <wsdl:message name="commitTransactionRequest"/>   
   <wsdl:message name="endTransactionRequest">
      <wsdl:part element="impl:endMethod" name="endMethod"/>
   </wsdl:message>
   <wsdl:message name="endTransactionResponse"/>
   <wsdl:message name="rollbackTransactionRequest"/>
   <wsdl:message name="rollbackTransactionResponse"/>   
   <wsdl:message name="StringException">
      <wsdl:part element="impl:fault" name="fault"/>
   </wsdl:message>

   <wsdl:portType name="TransactionFunctionalities">
      <wsdl:operation name="rollbackTransaction">
         <wsdl:input message="impl:rollbackTransactionRequest" name="rollbackTransactionRequest"/>
         <wsdl:output message="impl:rollbackTransactionResponse" name="rollbackTransactionResponse"/>
      </wsdl:operation>
      <wsdl:operation name="commitTransaction">
         <wsdl:input message="impl:commitTransactionRequest" name="commitTransactionRequest"/>
         <wsdl:output message="impl:commitTransactionResponse" name="commitTransactionResponse"/>
      </wsdl:operation>
      <wsdl:operation name="endTransaction" parameterOrder="endMethod">
         <wsdl:input message="impl:endTransactionRequest" name="endTransactionRequest"/>
         <wsdl:output message="impl:endTransactionResponse" name="endTransactionResponse"/>
      </wsdl:operation>
      <wsdl:operation name="updateDb" parameterOrder="valuesString">
         <wsdl:input message="impl:updateDbRequest" name="updateDbRequest"/>
         <wsdl:output message="impl:updateDbResponse" name="updateDbResponse"/>
         <wsdl:fault message="impl:StringException" name="StringException"/>
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="TransactionFunctionalitiesSoapBinding" type="impl:TransactionFunctionalities">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="rollbackTransaction">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="rollbackTransactionRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="rollbackTransactionResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="commitTransaction">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="commitTransactionRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="commitTransactionResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="endTransaction">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="endTransactionRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="endTransactionResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="updateDb">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="updateDbRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="updateDbResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="StringException">
            <wsdlsoap:fault name="StringException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="TransactionFunctionalitiesService">
      <wsdl:port binding="impl:TransactionFunctionalitiesSoapBinding" name="TransactionFunctionalities">
         <wsdlsoap:address location="http://localhost:8090/TransactionWebService/services/TransactionFunctionalities"/>
      </wsdl:port>
   </wsdl:service>
   
   <plnk:partnerLinkType name="TransactionPLT">
     <plnk:role name="TransactionRole" portType="intf:TransactionFunctionalities"/>
   </plnk:partnerLinkType>

</wsdl:definitions>
