IntegerNumbersWebService/WebContent/wsdl/IntegerNumbersGenerated2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="http://webservices"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://webservices"
	xmlns:intf="http://webservices"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getInteger">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getIntegerResponse">
    <complexType>
     <sequence>
      <element name="getIntegerReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createInteger">
    <complexType/>
   </element>
   <element name="createIntegerResponse">
    <complexType>
     <sequence>
      <element name="createIntegerReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCreateTime">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCreateTimeResponse">
    <complexType>
     <sequence>
      <element name="getCreateTimeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPowersOfTwo">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPowersOfTwoResponse">
    <complexType>
     <sequence>
      <element name="getPowersOfTwoReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="integerElement">
    <complexType>
     <sequence>
      <element name="element1" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="stringElement">
    <complexType>
     <sequence>
      <element name="element2" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPowersOfTwoResponse">

      <wsdl:part element="impl:getPowersOfTwoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCreateTimeRequest">

      <wsdl:part element="impl:getCreateTime" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIntegerResponse">

      <wsdl:part element="impl:getIntegerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createIntegerResponse">

      <wsdl:part element="impl:createIntegerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIntegerRequest">

      <wsdl:part element="impl:getInteger" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPowersOfTwoRequest">

      <wsdl:part element="impl:getPowersOfTwo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCreateTimeResponse">

      <wsdl:part element="impl:getCreateTimeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createIntegerRequest">

      <wsdl:part element="impl:createInteger" name="parameters">

      </wsdl:part>

   </wsdl:message>
   
   <wsdl:message name="integerMessage">
		<wsdl:part name="value" element="impl:integerElement" />
	</wsdl:message>
	<wsdl:message name="stringMessage">
		<wsdl:part name="value" element="impl:stringElement" />
	</wsdl:message>

   <wsdl:portType name="IntegerNumbers">
      <wsdl:operation name="getInteger">
         <wsdl:input message="impl:integerMessage" name="getIntegerRequest"/>
         <wsdl:output message="impl:integerMessage" name="getIntegerResponse"/>
      </wsdl:operation>

      <wsdl:operation name="createInteger">
         <wsdl:input message="impl:createIntegerRequest" name="createIntegerRequest"/>
         <wsdl:output message="impl:integerMessage" name="createIntegerResponse"/>
      </wsdl:operation>

      <wsdl:operation name="getCreateTime">
         <wsdl:input message="impl:integerMessage" name="getCreateTimeRequest"/>
         <wsdl:output message="impl:stringMessage" name="getCreateTimeResponse"/>
      </wsdl:operation>

      <wsdl:operation name="getPowersOfTwo">
         <wsdl:input message="impl:integerMessage" name="getPowersOfTwoRequest"/>
         <wsdl:output message="impl:integerMessage" name="getPowersOfTwoResponse"/>
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="IntegerNumbersSoapBinding" type="impl:IntegerNumbers">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getInteger">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="getIntegerRequest">
            <wsdlsoap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:input>
         <wsdl:output name="getIntegerResponse">
            <wsdlsoap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="createInteger">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="createIntegerRequest">
            <wsdlsoap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:input>
         <wsdl:output name="createIntegerResponse">
            <wsdlsoap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getCreateTime">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="getCreateTimeRequest">
            <wsdlsoap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:input>
         <wsdl:output name="getCreateTimeResponse">
            <wsdlsoap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getPowersOfTwo">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="getPowersOfTwoRequest">
            <wsdlsoap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:input>
         <wsdl:output name="getPowersOfTwoResponse">
            <wsdlsoap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="IntegerNumbersService">

      <wsdl:port binding="impl:IntegerNumbersSoapBinding" name="IntegerNumbers">

         <wsdlsoap:address location="http://localhost:8090/IntegerNumbersWebService/services/IntegerNumbers"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
